* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  padding-top: 40%;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url("/background/samplewallpaper.jpg") right;
  background-size: cover;
}

.home__name {
  font-size: 4.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid white;
}

.home__name--last {
  color: #6d1717;
  font-weight: 750;
}

.menu_btn {
  position: absolute;
  z-index: 1;
  left: 1rem;
  top: 1rem;
  height: 20px;
  width: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu_btn--burger {
  position: absolute;
  background: #fff;
  left: 1rem;
  top: 0.5rem;
  width: 24px;
  height: 3px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu_btn--burger::before {
  position: absolute;
  content: '';
  top: -8px;
  width: 24px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu_btn--burger::after {
  position: absolute;
  content: '';
  top: 8px;
  width: 24px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu_btn--burger.open {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  background: transparent;
}

.menu_btn--burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu_btn--burger.open::after {
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.myNav {
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  visibility: hidden;
  opacity: 0.98;
}

.myNav.open {
  visibility: visible;
}

.myNav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #2c2a2a;
  list-style-type: none;
  padding-right: 1rem;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.myNav-menu.open {
  -webkit-transform: translateX(-60vw);
          transform: translateX(-60vw);
}

.myNav-menu__item {
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-left: 1rem;
}

.myNav-menu__item.open {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
}

.myNav-menu__item.active > a {
  color: #6d1717;
}

.myNav-menu__link {
  display: inline-block;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.myNav-menu__link:hover {
  color: #6d1717;
}

.myNav-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.myNav-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.myNav-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.myNav-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.about-bio {
  padding-bottom: 2rem;
  height: 100%;
  padding-top: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url("/background/samplewallpaper.jpg") right;
  background-size: cover;
}

.about-bio__info {
  margin: 1rem 1rem;
  text-align: justify;
  text-justify: inter-word;
}

.about .educations {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.about .educations-education {
  background: #1a1919;
  padding: 1.5rem;
  border-left: 5px solid #6d1717;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about .educations-education .level {
  margin-bottom: 1rem;
}

.about .educations-education .school {
  margin-bottom: 1.5rem;
}

.about .educations-education .year {
  margin-bottom: 1rem;
}

.about .educations-education .info {
  margin-bottom: 1rem;
}

.about .educations-education:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.about .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -4rem);
          transform: rotate(90deg) translate(-3rem, -4rem);
}

.project-bio {
  padding-bottom: 2rem;
  height: 100%;
  padding-top: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url("/background/samplewallpaper.jpg") right;
  background-size: cover;
}

.project .projects {
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.project .projects-project {
  background: #1a1919;
  padding: 1.5rem;
  border-left: 5px solid #6d1717;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project .projects-project .level {
  margin-bottom: 1rem;
}

.project .projects-project .school {
  margin-bottom: 1.5rem;
}

.project .projects-project .year {
  margin-bottom: 1rem;
}

.project .projects-project .info {
  margin-bottom: 1rem;
}

.project .projects-project:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.project .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project footer {
  -webkit-transform: rotate(90deg) translate(-3rem, -4rem);
          transform: rotate(90deg) translate(-3rem, -4rem);
}

.contact {
  height: 100%;
  padding-top: 40%;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: url("/background/samplewallpaper.jpg") right;
  background-size: cover;
}

.contact-contacts {
  margin: 2rem auto;
}

@media screen and (min-width: 480px) {
  .home {
    padding-top: 40%;
  }
  .social-icons {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  .contact {
    padding-top: 50%;
  }
}

@media screen and (min-width: 768px) {
  .menu_btn {
    visibility: hidden;
  }
  .myNav {
    visibility: visible;
    width: 80%;
  }
  .myNav-menu {
    display: block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background: transparent;
    text-align: right;
    height: 20vh;
  }
  .myNav-menu__item {
    display: inline;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .home {
    padding-top: 20%;
  }
  .about-bio {
    padding-top: 20%;
  }
  .about-bio__title {
    font-size: 2rem;
  }
  .about-bio__info {
    font-size: 1.2rem;
    position: relative;
    left: 25%;
    width: 50%;
  }
  .project-bio {
    padding-top: 20%;
  }
  .contact {
    padding-top: 20%;
  }
  .social-icons {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
}

body {
  background: #2c2a2a;
  color: #fff;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}

h1, h2 {
  font-weight: 400;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

main .social-icons {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
}

main .social-icons a {
  padding: 0.4rem;
}

main .social-icons a:hover {
  color: #6d1717;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  padding: 1rem;
}
/*# sourceMappingURL=main.css.map */