.home{
    height: 100%;
    padding-top: 40%;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: url("/background/samplewallpaper.jpg") right;
    background-size: cover;

    &__name {
        font-size: 4.5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid white;

        &--last{
            color: $secondary-color;
            font-weight: 750;
        }
    }
}