$primary-color: rgb(44, 42, 42);
$secondary-color: rgb(109, 23, 23);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin smooth-transition{
    transition: all 0.5s ease-in-out;
}

@mixin myMedia-480{
    @media screen and (min-width: 480px){
        @content;
    }
}
@mixin myMedia-768{
    @media screen and (min-width: 768px){
        @content;
    }
}
@mixin myMedia-1024{
    @media screen and (min-width: 1024px){
        @content;
    }
}