@include myMedia-480{
    .home{
        padding-top: 40%;
    }
    .social-icons{
        transform: scale(1.2,1.2);
   }
   .contact{
       padding-top: 50%;
   }
}

@include myMedia-768{
    .menu_btn{
        visibility: hidden;
    }
    .myNav{
        visibility: visible;
        width: 80%;
        
        &-menu{
            display: block;
            transform: translateX(0);
            background: transparent;
            text-align: right;
            height: 20vh;
            
            &__item{
                display: inline;
                transform: translateX(0);
            }
        }
    }
    .home {
        padding-top: 20%;    
    }

    .about{
        &-bio{
            padding-top: 20%;
            &__title{
                font-size: 2rem;
            }
            &__info{
                font-size: 1.2rem;
                position: relative;
                left: 25%;
                width: 50%;
            }
        }
    }

    .project{
        &-bio{
            padding-top: 20%;
        }
    }

    .contact{
        padding-top: 20%;
    }

    .social-icons{
        transform: scale(1.5, 1.5);
    }
}