body,html {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-image: url("background/wp1.png"); 
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
}
.myHeader{
    color: white;
    text-align: center;
    font-family: 'Lusitana', serif;
    font-size: 5vh;
}
.myHeader:hover{
    text-shadow: -5px 2px gray;
}
.myContent{
    float: right;
    color: white;
    padding: 25px;
    flex: 1 0 auto;
    margin: 25px;
    border-radius: 50px;
    text-align: center;
}
.myNav{
    float: left;
}
.myFooter{
    flex-shrink: 0;
}
footer{
    padding-left: 25px;
    border-top: 5px solid black;
    color: white;
    background-color: gray;
}
