#myHeader {
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    padding: 25px;
    font-family: 'Permanent Marker',serif;
    border: 5px solid black;
    border-radius: 180px;
}

#myFooter{
    padding-top: 5px;
    border-top: 2px solid black;
    font-family: monospace;
    padding-left: 25px;
}