@media screen and (max-width:480px){
    .myHeader{ width: 100%; }
    .myContent{ width: 100%; }
    .myNav{ width: 100%; }
    .myFooter{ width: 100%; }
}
body,html {
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background: darkslategrey; 
    /* background-repeat: no-repeat;   
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; */
}
/*Heding Part*/
.myHeader{
    color: whitesmoke;
    text-align: center;
    font-family: 'Caesar Dressing', cursive;
    font-size: 3em;
    text-shadow: 5px 2px 3px black;
}
.myHeader:hover{
    animation-name: header;
    animation-duration: 2ms;
    animation-fill-mode: forwards;
}
@keyframes header{
    100%{
        color: black;
        text-shadow: 5px 2px 3px rgb(255, 255, 255);
    }
}
/* Content part */
.myContent{
    flex: 1 0 auto;
    margin: .5rem;
    border-radius: 50px;
    background: black;
    opacity: .7;
}
.contents{
    font-family: 'Poiret One', cursive;
    font-size: 1.5em;
    color: white;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}
/* Navigation part */
.myNav{
    display: flex;
    align-self: center;
}
.nav{
    padding: 5px;
    text-decoration: none;
    font-family: 'Major Mono Display', monospace;
    font-size: 1.5rem;
    background: darkgray;
    border-radius: 25px;
    margin-top: 0%;
    margin-left: .3rem;
    margin-bottom: .3rem;
    opacity: .9;
    box-shadow: -2px 2px 5px black;
    color: white;
}
.nav:hover{
    animation-name: Nav;
    animation-duration: 2ms;
    animation-fill-mode: forwards;
}
@keyframes Nav{
    100%{
        background: gray;
        opacity: .8;
    }
}
/* Footer part */
.myFooter{
    flex-shrink: 0;
}
footer{
    padding: 5px;
    font-size: 1em;
    color: white;
    background-color: gray;
}
